# Standard ignores
*~
*.pyc
\#*#
.#*
.*.swp
fort.*

/checkin_message
/cmake/dependencies

# extra repos
/TriBITS
/Trilinos
/TeuchosWrappersExt

# Repostiory list file for gitdist
/.egdist
/.gitdist
*.sublime-*
